@font-face{
	font-family: "MuseoSans";
	src:url(../fonts/MuseoSans_700.otf);
}
@font-face{
	font-family: "Museo100-Regular";
	src:url(../fonts/Museo100-Regular.otf);
}
@font-face{
	font-family: "Museo500-Regular";
	src:url(../fonts/Museo500-Regular.otf);
}